*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum', sans-serif;
}

.menu_navegação{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.portfolio{
    color: white;
    font-size: 30px;
}

.portfolio span{
    color: red;
}

li{
    color: red;
    list-style: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: red;
    list-style: none;
    display: inline-block;
    cursor: pointer;
}


li a:hover {
    color: white;
    transition: 0.5s;
}

.my_name{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 30px;
    color: whitesmoke;
}

.my_name h3{
    font-size: 20px;
    color: rgb(0 255 100);
}


section{
    display: flex;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(9 9 9);
    color: white;
}


section div{
    margin: 5%;
    text-align: right;
    display: inline-block;
}

img{
    margin-left: 10%;
    margin-bottom: 5%;
    height: 400px;
    border-radius: 100%;
    border: 2px solid red;
}

section div h2{
    padding: auto;
    margin: 7px;
    text-align: left;
    color: red;
}

section div p{
    text-align: left;
}

section div button{
    
    margin-top: 12px;
    background-color: black;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    text-align: left;

}

section div button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.7s;
}

.Projetos_pessoais{
    background-color: black;
    height: 33,33%;
    width: 33,33%;
}

.Projetos_pessoais h2{
    padding-top: 25px;
    color: red;
    font-size: 40px;
    text-align: center;
}

.card{
    background-color: #191919;
    height: 350px;
    width: 320px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-left: 33px;
    align-items: center;
    border-color: blue;
    border: 2px solid white;
}

.card h5{
    color: rgb(223, 63, 63);
    font-size: 24px;
}

.card img{
    height: 100px;
}

.card a:hover{
    background-color: transparent;
    border: 2px solid red;
    transition: 0.5s;
    color: rgba(207, 17, 17, 0.807);
    cursor: pointer;
    font-size: 18.5px;
}

.card p{
    padding-top: 10px;
    padding: 18px 10px;
    color: #d5d5d5;
    text-align: center;
}

.card a{
    margin-top: 20px;
    background-color: black;
    padding: 7px 15px;
    border-radius: 20px;
    color: white;
    text-align: left;
}

.card_Projetos{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    background-color: gray;
}

a {
    text-decoration: none;
}
.call_me{
    text-decoration: none;
    color: red;
}
